#question{
  display: flex;
  flex-direction: column;

  .question-container{
    display: flex;
    justify-content: center;
    .mat-card{
      max-width: 50%;

      .choice-row{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.7rem 0;

        label{
          width: 25%;
          font-weight: 700;
        }
        span{
          width: 10%;
        }
      }
    }
  }
}
